* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #71797b;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.heading-txt {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  margin: 25px;
  text-align: center;
  text-transform: uppercase;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 250px;
  width: 400px;
  background-color: rgb(153, 138, 138);
  border-radius: 15px;
  box-shadow: 2px 2px 10px 1px #333;
  overflow: hidden;
  padding: 10px;
  position: relative;
  justify-content: flex-end;
  height: 100%;
}
.question-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  margin: 10px;
  box-shadow: 2px 2px 10px 1px #333;
  border-radius: 15px;
  padding: 10px;
  font-size: 15px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  min-width: 100%;
  min-height: 50px; 
}


.option-container {
  display: flex;
  flex-direction: column;
  margin: 6px 4px;
  width: 100%;
  padding: 10px;
}

.option-btn {
  box-shadow: 2px 2px 10px 1px #333;
  border-radius: 3px;
  padding: 5px;
  border: none;
  outline: none;
  margin: 5px;
  min-height: 30px;
  background-color: #bfaaaa;
}

.checked {
  background-color: rgb(35, 15, 35);
  box-shadow: 3px 3px 4px 1px rgb(78, 69, 78);
  color: #ffffff;
}

.option-btn:hover {
  background-color: rgb(93, 77, 93);
  color: white;
}

#next-button {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100px;
  height: 4vh;
  border-radius: 5px;
  border: none;
  outline: none;
   background-color: rgb(82, 74, 82);
  color: #ffffff;
  padding: 5px;  
  align-self: center;
  margin-top: 10px; 
}



#next-button:hover {
  background-color: rgb(22, 20, 22);
  color: #ffffff;
}



.show-score{
  position: absolute;
  top:30%;
  font-size: 40px;
  text-align: center; 
  color: #665b5b;
  
}
